.profile-infos{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    padding: 0 15%;
}
.container_intro{
    flex-basis: 100%;
}
.wrapper_intro{
    background: var(--bg-color);
    padding: 20px;
    border-radius: 5px;
}
.containers_intro{
    width: 692px;
    height: 450px;
}
.containers_intro ul li .fa-heart{
    color: unset;
}
.containers_intro ul li{
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
    font-size: 17px;
    cursor: pointer;
    color: var(--color-color);
}
.containers_intro ul li i{
    width: 40px;
    text-align: center;
}
.app_content_intro{
    display: flex;

   
}
.tabs_intro li{
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 10px 20px;
    color: var(--color-color);
    width: 300px;
    border-radius: 5px;
    border: 1px solid var(--color-color);
    transition: .4s;
    font-size: 17px;
    font-weight: 700px;
    text-align: center;
}

.tabs_intro li.active_intro{
    opacity: .7;
    color: salmon;
    border: 1px solid salmon;
}

.tabcontent_intro{
    display: none;
    position: relative;
}
.tabcontent_intro.active_intro {
    display: block;
}
.form_intro{
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit_intro .input_intro, #status{
    margin-top: 5px;
    border-radius: 5px;
    font-size: 17px;
    height: 30px;
    width: 480px;
    cursor: pointer;
    color: var(--color-color);
    border: 1px solid var(--color-color);
    background-color: var(--cmt-color);
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);

}
.edit_intro .label{
    margin-top:18px ;
    color: var(--color-color);

}
.submit_intro #button_intro{
    margin-top: 25px;
    background-color: #1f1f1f;
    border: 1px solid #fff;
    color: #fff ;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}